<ion-content [fullscreen]="true" id="content">
  <div id="container-form">
    <ion-item id="input">
      <ion-label position="floating">Nombres</ion-label>
      <ion-input type="text" [(ngModel)]="userService.nombre"></ion-input>
    </ion-item>
    <ion-item id="input">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" [(ngModel)]="userService.apellido"></ion-input>
    </ion-item>
    <ion-item id="input">
      <ion-label position="floating">Telefono</ion-label>
      <ion-input type="text" [(ngModel)]="userService.telefono"></ion-input>
    </ion-item>
    <ion-item id="input2">
      <ion-label position="stacked">Subir imagen</ion-label>
      <ion-input type="file" [(ngModel)]="userService.imgPerfil"></ion-input>
    </ion-item>
    <ion-item id="input">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="userService.username"></ion-input>
    </ion-item>
    <ion-item id="input">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="userService.pass"></ion-input>
    </ion-item>
    <div class="botones">
      <ion-button (click)='userService.registerClient()' class="signUp">Crear cuenta</ion-button>
      <ion-button (click)='routerService.Enviarlogin()' class="login">Iniciar Sesión</ion-button>
    </div>
  </div>
</ion-content>