<ion-content [fullscreen]="true" id="content">
    <div id="container-form">
        <ion-item id="input">
            <ion-label position="floating">Nombre(s)</ion-label>
            <ion-input type="text" [(ngModel)]="authService.nombre"></ion-input>
        </ion-item>
        <ion-item id="input">
            <ion-label position="floating">Apellido(s)</ion-label>
            <ion-input type="text" [(ngModel)]="authService.apellido"></ion-input>
        </ion-item>
        <ion-item id="input">
            <ion-label position="floating">Telefono</ion-label>
            <ion-input type="text" [(ngModel)]="authService.telefono"></ion-input>
        </ion-item>
        <ion-item id="input">
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" [(ngModel)]="authService.username"></ion-input>
        </ion-item>
        <ion-item id="input">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="authService.pass"></ion-input>
        </ion-item>
        <div class="botones">
            <ion-button (click)='authService.registerUser()' class="signUp">Crear cuenta</ion-button>
            <ion-button (click)='routerService.Enviarlogin()' class="login">Iniciar Sesión</ion-button>
        </div>
    </div>
</ion-content>