#content {
    --background: rgb(89, 163, 197);
    text-align: center;
    align-items: center;
}
#content .tarjetas{
    text-align: justify;
    color: white;
    background: rgba(0, 0, 0, 0.836);
}
#content .tarjetas ion-card-header ion-card-title{
    color: white;
}