<ion-content [fullscreen]="true" id="content">
    <div id="container-form">
        <ion-item id="input2">
            <ion-label position="stacked">
                <ion-icon name="search-outline"></ion-icon>
                Buscar citas
            </ion-label>
            <ion-input [(ngModel)]="SearchText" type="text"></ion-input>
        </ion-item>
    </div>
    <ion-card class="tarjetas" *ngFor='let citasAux of servicioCitas.citasList | filter:SearchText; let i = index'>
        <ion-card-header>
            <ion-card-title>Titular: {{citasAux.tTitular}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <p>Telefono: {{citasAux.tTelefono}}</p>
            <p>Fecha cita: {{citasAux.fhFechaCita}}</p>
            <p>Servicio: {{citasAux.tServicio}}</p>
            <p>Hora: {{citasAux.tHora}}</p>
            <p>Mascota: {{citasAux.tMascota}}</p>
        </ion-card-content>
        <ion-button class="editar" (click)="servicioCitas.editarCita()">
            <ion-icon name="pencil-outline"></ion-icon>
        </ion-button>
        <ion-button class="desactivar" (click)="servicioCitas.desactivarCita()">
            <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
        <ion-button class="ticket">
            <ion-icon name="ticket-outline"></ion-icon>
        </ion-button>
    </ion-card>
</ion-content>