#content {
    --background: url(../../assets/back.png);
    text-align: center;
    align-items: center;
    
}
#content #container-form {
    background-color: rgba(0, 0, 0, 0.801);
    border-radius: 5px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 5px;
    backdrop-filter: blur(4px);
}
#container-form h3 {
    text-align: center;
    font-weight: 100;
    color: #ffa229;
    text-transform: uppercase;
}
#container-form #input {
    --background: none;
    color: rgb(255, 162, 41);
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(255, 162, 41);
}
#container-form .botones{
    margin: 20px 15px 10px;
}
#container-form .botones .login, .signUp {
    width: 100%;
    color: #fff;
    font-weight: 100;
    font-size: 11pt;
    text-transform: uppercase;
}
#container-form .botones .login {
    --background: #b86800;
}
#container-form .botones .signUp {
    --background: #000;
}