<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Citas</h1>
  <h2 style="color: red;" *ngIf="citasService.citas.length == 0">No hay frutas disponibles</h2>
  <ion-card *ngFor="let cita of citasService.citas">
    <ion-text>
      {{cita.tNombreCita}}
    </ion-text>
    <ion-text>
      {{cita.tEstatus}}
    </ion-text>
    <ion-text>
      {{cita.fechaRegistro}}
    </ion-text>
  </ion-card>

  <app-explore-container name="Tab 1 page">
  </app-explore-container>
</ion-content>
