<ion-content [fullscreen]="true" id="content">
      <ion-card class="tarjetas">
        <ion-card-header>
          <ion-card-title>Cliente id: 15425</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p>Nombre: Gerardo</p>
          <p>Apellido: Gutierrez</p>
          <p>Nombre Usuario: Geras</p>
          <p>Telefono: 4492784957</p>
          <p>Fecha de registro: 17/11/21</p>
          <p>UsuarioActivo: Activo</p>
        </ion-card-content>
      </ion-card>
</ion-content>
