<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="content">
  <ion-list>
    
      <ion-card id="citas">
        <ion-card-header>
          <ion-card-title>Cliente id: 15425</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p>Nombre: Gerardo</p>
          <p>Apellido: Gutierrez</p>
          <p>Nombre Usuario: Geras</p>
          <p>Telefono: 4492784957</p>
          <p>Fecha de registro: 17/11/21</p>
          <p>UsuarioActivo: Activo</p>
        </ion-card-content>
      </ion-card>
      <ion-card id="citas">
        <ion-card-header>
          <ion-card-title>Cliente id: 213124</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p>Nombre: Edwin</p>
          <p>Apellido: Sola</p>
          <p>Nombre Usuario: Edwsol</p>
          <p>Telefono: 4498578021</p>
          <p>Fecha de registro: 25/02/22</p>
          <p>UsuarioActivo: Activo</p>
        </ion-card-content>
      </ion-card>
      <ion-card id="citas">
        <ion-card-header>
          <ion-card-title>Cliente id: 242525</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p>Nombre: Raul</p>
          <p>Apellido: Sola</p>
          <p>Nombre Usuario: Rajaz</p>
          <p>Telefono: 4497895642</p>
          <p>Fecha de registro: 20/03/22</p>
          <p>UsuarioActivo: Inactivo</p>
        </ion-card-content>
      </ion-card>
  </ion-list>
</ion-content>
