<ion-content [fullscreen]="true" id="content">
  <ion-text color="red" *ngIf='userService.usersList.length == 0'>
    No hay clietnes registrados
  </ion-text>

      <ion-card class="tarjetas" *ngFor='let user of userService.usersList; let i = index'>
        <ion-card-header>
          <ion-card-title>{{user.tNombre}} {{user.tApellido}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Nombre de Usuario: {{user.tNombreUsuario}}</p>
          <p>Telefono: {{user.tTelefono}}</p>
          <p>Fecha Registro: {{user.fhFechaRegistro | date: "dd/MM/yyyy" }}</p>
          <p>Usuario Activo: {{user.bUsuarioActivo}}</p>
        </ion-card-content>
      </ion-card>
</ion-content>
